{
  "openapi": "3.1.0",
  "info": {
    "title": "Gate API",
    "description": "Read-only starter API for gate.spectraportal.dev. Exposes front-door health and upstream API health for GPT Actions.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://gate.spectraportal.dev"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getGateHealth",
        "summary": "Check gate front-door health",
        "description": "Returns the health status of the public gate/front-door layer served by nginx.",
        "responses": {
          "200": {
            "description": "Gate is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "operationId": "getApiHealth",
        "summary": "Check upstream API health",
        "description": "Returns the health status of the upstream workspace/API behind the gate.",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Whether the service is healthy."
          },
          "service": {
            "type": "string",
            "description": "Service name."
          }
        }
      }
    }
  }
}