{
  "openapi": "3.1.0",
  "info": {
    "title": "Spectra Gate API",
    "description": "Read-only access to Spectra Gate health checks, workspaces, workspace file listings, and file reads.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://gate.spectraportal.dev",
      "description": "Production Gate server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getGateHealth",
        "summary": "Get Gate public health",
        "description": "Checks whether the public Gate endpoint is up.",
        "responses": {
          "200": {
            "description": "Health response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/workspace/health": {
      "get": {
        "operationId": "getWorkspaceHealth",
        "summary": "Get workspace service health",
        "description": "Checks whether the workspace layer is up.",
        "responses": {
          "200": {
            "description": "Workspace health response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List available workspaces",
        "description": "Returns all available workspace names.",
        "responses": {
          "200": {
            "description": "Workspace list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "workspaces"
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "default": {
                    "value": {
                      "workspaces": ["gate"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/files": {
      "get": {
        "operationId": "listWorkspaceFiles",
        "summary": "List files in a workspace",
        "description": "Lists files for a workspace. Optionally provide a directory path within the workspace.",
        "parameters": [
          {
            "name": "ws",
            "in": "query",
            "required": true,
            "description": "Workspace name, for example gate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Optional directory path inside the workspace, for example drafts or docs/guides.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File listing response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/file": {
      "get": {
        "operationId": "getWorkspaceFile",
        "summary": "Read a file from a workspace",
        "description": "Reads a single file from a workspace and returns its content.",
        "parameters": [
          {
            "name": "ws",
            "in": "query",
            "required": true,
            "description": "Workspace name, for example gate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Path to the file inside the workspace, for example drafts/hello.md.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "ws": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "content",
                    "path",
                    "ws"
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "hello": {
                    "value": {
                      "content": "# Hello\nThis is the first Spectra Gate workspace test file.\n",
                      "path": "drafts/hello.md",
                      "ws": "gate"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}