{
  "openapi": "3.1.0",
  "info": {
    "title": "Spectra Gate API",
    "description": "Entry-point API for gate.spectraportal.dev. Provides Gate health and Workspace health.",
    "version": "0.1.1"
  },
  "servers": [
    {
      "url": "https://gate.spectraportal.dev"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getGateHealth",
        "summary": "Check Gate health",
        "description": "Returns the health status of the public gate/front-door layer.",
        "responses": {
          "200": {
            "description": "Gate is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workspace/health": {
      "get": {
        "operationId": "getWorkspaceHealth",
        "summary": "Check Workspace health",
        "description": "Returns the health status of the workspace service behind the gate.",
        "responses": {
          "200": {
            "description": "Workspace is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Whether the service is healthy."
          },
          "service": {
            "type": "string",
            "description": "Service name."
          }
        }
      }
    }
  }
}