{
  "openapi": "3.1.0",
  "info": {
    "title": "Spectra Gate API",
    "description": "Read access to Spectra Gate health checks, workspaces, workspace file listings, and file reads, plus drafts-only write access.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://gate.spectraportal.dev",
      "description": "Production Gate server"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getGateHealth",
        "summary": "Get Gate public health",
        "description": "Checks whether the public Gate endpoint is up.",
        "responses": {
          "200": {
            "description": "Health response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Health status, such as ok or healthy."
                    },
                    "ok": {
                      "type": "boolean",
                      "description": "Boolean health flag if provided by the API."
                    },
                    "service": {
                      "type": "string",
                      "description": "Service name if provided."
                    },
                    "message": {
                      "type": "string",
                      "description": "Optional human-readable status message."
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/workspace/health": {
      "get": {
        "operationId": "getWorkspaceHealth",
        "summary": "Get workspace service health",
        "description": "Checks whether the workspace layer is up.",
        "responses": {
          "200": {
            "description": "Workspace health response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Workspace layer health status."
                    },
                    "ok": {
                      "type": "boolean",
                      "description": "Boolean workspace health flag if provided by the API."
                    },
                    "service": {
                      "type": "string",
                      "description": "Workspace service name if provided."
                    },
                    "message": {
                      "type": "string",
                      "description": "Optional human-readable status message."
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List available workspaces",
        "description": "Returns all available workspace names.",
        "responses": {
          "200": {
            "description": "Workspace list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "workspaces"
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "default": {
                    "value": {
                      "workspaces": [
                        "gate"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/files": {
      "get": {
        "operationId": "listWorkspaceFiles",
        "summary": "List files in a workspace",
        "description": "Lists files for a workspace. Optionally provide a directory path within the workspace.",
        "parameters": [
          {
            "name": "ws",
            "in": "query",
            "required": true,
            "description": "Workspace name, for example gate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "Optional directory path inside the workspace, for example drafts or docs/guides.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File listing response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ws": {
                      "type": "string",
                      "description": "Workspace name."
                    },
                    "path": {
                      "type": "string",
                      "description": "Directory path inside the workspace, if returned."
                    },
                    "files": {
                      "type": "array",
                      "description": "List of files or entries returned by the API.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "description": "Entry type such as file or directory."
                          }
                        },
                        "additionalProperties": true
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/api/file": {
      "get": {
        "operationId": "getWorkspaceFile",
        "summary": "Read a file from a workspace",
        "description": "Reads a single file from a workspace and returns its content.",
        "parameters": [
          {
            "name": "ws",
            "in": "query",
            "required": true,
            "description": "Workspace name, for example gate.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Path to the file inside the workspace, for example drafts/hello.md.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "ws": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "content",
                    "path",
                    "ws"
                  ],
                  "additionalProperties": true
                },
                "examples": {
                  "hello": {
                    "value": {
                      "content": "# Hello\nThis is the first Spectra Gate workspace test file.\n",
                      "path": "drafts/hello.md",
                      "ws": "gate"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspace/drafts/write": {
      "post": {
        "operationId": "writeWorkspaceDraft",
        "summary": "Create or overwrite a file in the workspace drafts directory",
        "description": "Writes a file only inside the drafts directory for a workspace. The backend must enforce drafts-only path restrictions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ws",
                  "path",
                  "content"
                ],
                "properties": {
                  "ws": {
                    "type": "string",
                    "description": "Workspace name, for example gate."
                  },
                  "path": {
                    "type": "string",
                    "description": "Relative path inside drafts, for example hello.md or notes/test.md."
                  },
                  "content": {
                    "type": "string",
                    "description": "Full file contents to write."
                  }
                },
                "additionalProperties": false
              },
              "examples": {
                "hello": {
                  "value": {
                    "ws": "gate",
                    "path": "hello.md",
                    "content": "# Hello\nUpdated from drafts-only write route.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Draft file written successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Boolean success flag."
                    },
                    "ws": {
                      "type": "string",
                      "description": "Workspace name."
                    },
                    "path": {
                      "type": "string",
                      "description": "Resolved workspace-relative path, for example drafts/hello.md."
                    },
                    "bytes": {
                      "type": "integer",
                      "description": "Number of bytes written, if returned by the API."
                    }
                  },
                  "required": [
                    "ok",
                    "ws",
                    "path"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Write outside drafts is not allowed"
          },
          "404": {
            "description": "Workspace not found"
          }
        }
      }
    }
  }
}
