{
  "openapi": "3.1.0",
  "info": {
    "title": "Spectra Gate API",
    "version": "1.0.0",
    "description": "Live Spectra Gate workspace API. Mutating operations are restricted by the backend to drafts/ paths."
  },
  "servers": [
    {
      "url": "https://gate.spectraportal.dev"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "operationId": "getGateHealth",
        "summary": "Check API health",
        "responses": {
          "200": {
            "description": "Health response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/workspaces": {
      "get": {
        "operationId": "listWorkspaces",
        "summary": "List workspaces",
        "responses": {
          "200": {
            "description": "Workspace list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "workspaces"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/files": {
      "get": {
        "operationId": "listWorkspaceFiles",
        "summary": "List files in a workspace directory",
        "parameters": [
          {
            "name": "ws",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace name, for example gate"
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional relative path inside the workspace, for example drafts"
          }
        ],
        "responses": {
          "200": {
            "description": "Directory listing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ws": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "file",
                              "dir"
                            ]
                          },
                          "size": {
                            "type": "integer"
                          },
                          "modified": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "type",
                          "size",
                          "modified"
                        ]
                      }
                    }
                  },
                  "required": [
                    "ws",
                    "path",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "404": {
            "description": "Workspace not found"
          }
        }
      }
    },
    "/api/file": {
      "get": {
        "operationId": "getWorkspaceFile",
        "summary": "Read a workspace file",
        "parameters": [
          {
            "name": "ws",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace name, for example gate"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Relative path inside the workspace, for example drafts/test-draft.md"
          }
        ],
        "responses": {
          "200": {
            "description": "File contents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ws": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ws",
                    "path",
                    "content"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "404": {
            "description": "File not found"
          }
        }
      },
      "put": {
        "operationId": "writeWorkspaceDraft",
        "summary": "Create or overwrite a draft file",
        "description": "Writes a file only inside drafts/ for a workspace. The backend enforces drafts-only restrictions.",
        "parameters": [
          {
            "name": "ws",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace name, for example gate"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace-relative path. Must begin with drafts/, for example drafts/test-draft.md"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  }
                },
                "required": [
                  "content"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Draft file written successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "ws": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "bytes": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "ok",
                    "ws",
                    "path"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Write outside drafts is not allowed"
          },
          "404": {
            "description": "Workspace not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkspaceDraftFile",
        "summary": "Delete a draft file",
        "description": "Deletes a file only inside drafts/ for a workspace. The backend enforces drafts-only restrictions.",
        "parameters": [
          {
            "name": "ws",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace name, for example gate"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace-relative path. Must begin with drafts/, for example drafts/test-draft.md"
          }
        ],
        "responses": {
          "200": {
            "description": "Draft file deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "ws": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "ws",
                    "path"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Delete outside drafts is not allowed"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/api/folder": {
      "post": {
        "operationId": "createWorkspaceDraftFolder",
        "summary": "Create a drafts folder",
        "description": "Creates a folder only inside drafts/ for a workspace. The backend enforces drafts-only restrictions.",
        "parameters": [
          {
            "name": "ws",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace name, for example gate"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace-relative path. Must begin with drafts/, for example drafts/notes"
          }
        ],
        "responses": {
          "200": {
            "description": "Draft folder created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "ws": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "ws",
                    "path"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Create outside drafts is not allowed"
          },
          "404": {
            "description": "Workspace not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkspaceDraftFolder",
        "summary": "Delete a drafts folder",
        "description": "Deletes a folder only inside drafts/ for a workspace. The backend enforces drafts-only restrictions.",
        "parameters": [
          {
            "name": "ws",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace name, for example gate"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Workspace-relative path. Must begin with drafts/, for example drafts/notes"
          }
        ],
        "responses": {
          "200": {
            "description": "Draft folder deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "ws": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "ws",
                    "path"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Delete outside drafts is not allowed"
          },
          "404": {
            "description": "Folder not found"
          }
        }
      }
    },
    "/api/move": {
      "post": {
        "operationId": "moveWorkspaceDraftPath",
        "summary": "Move or rename a drafts path",
        "description": "Moves a file or folder only within drafts/ for a workspace. The backend enforces drafts-only restrictions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ws": {
                    "type": "string",
                    "description": "Workspace name, for example gate"
                  },
                  "from": {
                    "type": "string",
                    "description": "Source path inside the workspace, must begin with drafts/"
                  },
                  "to": {
                    "type": "string",
                    "description": "Destination path inside the workspace, must begin with drafts/"
                  },
                  "overwrite": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "ws",
                  "from",
                  "to"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Draft path moved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "ws": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "ws",
                    "from",
                    "to"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Move outside drafts is not allowed"
          },
          "404": {
            "description": "Source not found"
          },
          "409": {
            "description": "Destination exists"
          }
        }
      }
    },
    "/api/points/summary": {
      "get": {
        "operationId": "getPointsSummary",
        "summary": "Get points event summary",
        "responses": {
          "200": {
            "description": "Points summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "events": {
                      "type": "integer"
                    },
                    "by_event": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    }
                  },
                  "required": [
                    "ok",
                    "events",
                    "by_event"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/library/files": {
      "get": {
        "operationId": "listLibraryFiles",
        "summary": "List files in chat_center or core",
        "parameters": [
          {
            "name": "area",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "chat_center",
                "core"
              ]
            },
            "description": "Which read-only area to browse"
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional relative path inside the area"
          }
        ],
        "responses": {
          "200": {
            "description": "Directory listing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "area": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "file",
                              "dir"
                            ]
                          },
                          "size": {
                            "type": "integer"
                          },
                          "modified": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "type",
                          "size",
                          "modified"
                        ]
                      }
                    }
                  },
                  "required": [
                    "area",
                    "path",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "404": {
            "description": "Area not found"
          }
        }
      }
    },
    "/api/library/file": {
      "get": {
        "operationId": "getLibraryFile",
        "summary": "Read a file from chat_center or core",
        "parameters": [
          {
            "name": "area",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "chat_center",
                "core"
              ]
            },
            "description": "Which read-only area to read from"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Relative file path inside the area"
          }
        ],
        "responses": {
          "200": {
            "description": "File contents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "area": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "area",
                    "path",
                    "content"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    }
  }
}